# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\brieu\Documents\UCLouvain\Master1\Q8-LINGI2132-Languages_and_Translators\LINGI2132-2021-Compiler-Project\KneipVoghel-Language\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
